In [4]:
#data preprocessing
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
dataset = pd.read_csv("Data.csv")

In [6]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [7]:
dataset.iloc[:,3].values

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'], dtype=object)

In [8]:
from sklearn.preprocessing import Imputer

In [9]:
imputer = Imputer(missing_values="NaN", strategy="median",axis=0)

In [10]:
x= dataset.iloc[:,:-1].values
y = dataset.iloc[:,3].values

In [11]:
imputer = imputer.fit(x[:,1:3])

In [12]:
x[:,1:3] = imputer.transform(x[:,1:3])

In [13]:
#from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [14]:
#labelencoder_y = LabelEncoder()

In [15]:
#y = labelencoder_y.fit_transform(y)

In [33]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'], dtype=object)

In [17]:
#labelencoder_x = LabelEncoder()

In [18]:

#x[:,0] = labelencoder_x.fit_transform(x[:,0])
#x

In [19]:
#onehotencoder = OneHotEncoder(categorical_features=[0])

In [20]:
#x =onehotencoder.fit_transform(x).toarray()

In [32]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 38.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [22]:
#training and test set

In [26]:
from sklearn.cross_validation import train_test_split

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)

In [28]:
x_train

array([['Germany', 40.0, 61000.0],
       ['France', 37.0, 67000.0],
       ['Spain', 27.0, 48000.0],
       ['Spain', 38.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Spain', 38.0, 61000.0],
       ['France', 44.0, 72000.0],
       ['France', 35.0, 58000.0]], dtype=object)

In [29]:
y_test

array(['No', 'No'], dtype=object)

In [30]:
y_train

array(['Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes'], dtype=object)

In [31]:
x_train

array([['Germany', 40.0, 61000.0],
       ['France', 37.0, 67000.0],
       ['Spain', 27.0, 48000.0],
       ['Spain', 38.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Spain', 38.0, 61000.0],
       ['France', 44.0, 72000.0],
       ['France', 35.0, 58000.0]], dtype=object)